.datetime-picker-wrap {
  display: flex;
  justify-content: center;
}
.datetime-picker-wrap input {
  margin-right: 8px;
  max-width: 272px;
}
.timer {
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 2px 2px 32px rgba(47, 72, 88, 0.08);
}
@media screen and (min-width: 500px) {
  .timer {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.value {
  font-size: 40px;
  line-height: 1.2;
}
